body {
  font-family: "Poppins", sans-serif;
  background-color: #26a888;
  margin: 0px;
}

.container {
  width: 1280px;
  margin: auto;
}

/* INICIO HEADER */
header {
  width: 100%;
  height: 100px;
  background-color: #ffffff;

  display: flex;
  align-items: center;
}

header div.container {
  display: flex;
  justify-content: space-between;
}

header div,
header div.actions {
  display: flex;
  align-items: center;
}

header div.actions a {
  color: #2d2d2d;
  text-decoration: none;
  font-size: 18px;
  margin-right: 30px;
}

header div.actions button {
  padding: 16px 50px;
  color: #ffffff;
  font-size: 18px;
  background-color: #3366ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

header div.actions button:hover {
  background-color: #2a4fc1;
}

@media (max-width: 786px) {
  header div {
    padding: 0 12px;
  }
  header div.actions {
    display: none;
  }
} /* Telefone */

/* FIM HEADER */
